.cardContainer{
    padding: 30px;
    margin: 50px 0;
    display: grid;
    grid-gap: 40px;
    row-gap: 100px;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
}

.navigation{
    width: 100vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}