.card{
    width: 40vw;
    height: 100px;
    border: solid 2px black;
    background-color: royalblue;
    text-align: center;
    display:flex;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
}

.card img{
    height: 100px;
    width: 100px;
}

.card h1{
    margin: 0;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}