.navbar{
    padding: 2vh 0;
    width: auto;
    padding: 10px 30px;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #941C2F;
}

.searchBar{
    text-align: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    height: fit-content;
    text-align: center;
    transition: color .1s cubic-bezier(0.215, 0.610, 0.355, 1), transform .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.navbar a:hover{
    color: #ffaab7;
}

.navbar #logo{
    height: 100%;
}

.navbar #slogan{
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.navbar #links{
    display: inline-flex;
    gap: 20px;
}