.navbar{
    display: flex;
    flex-direction: row;
    padding: 2vh 1vw;
    margin-bottom: 3vh;
    width: 100vw;
    height: 8vh;
    justify-content: space-around;
    background-color: #AAAEFF;
}

.searchBar{
    text-align: center;
}